<div class="page-header">
  <h3>
    <!-- <img src="<%= @group.photo %>"> -->
    <%= @group.name %>
  </h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <!-- <dt>Name</dt>
      <dd><%= @group.name %></dd> -->

      <dt>Members -- [[[Make this seperate page]]]</dt>
      <dd>
        <% @group.group_enrollments.each do |member| %>
        <li><%= member.user.first_name %> <%= member.user.last_name %></li>
        <% end %>


      </dd>

      <dt>Reviews</dt>
      <dd>
        <% @group %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/groups" class="btn btn-primary">
        Back
      </a>
      <a href="/groups/<%= @group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_group/<%= @group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
